<ion-view view-title="{{article.catname}}">
	<ion-content>
		<div class="list card">
			<div class="item">
				<h2 class="text-center">{{ article.title  }}</h2></div>
			<div class="item item-body">
				<img class="full-image" src="img/main.jpg">
				<p>杭州颐养网络科技有限公司是一家专注于医药福利管理（PBM）的健康保险第三方服务机构（TPA)。杭州颐养网络科技有限公司旗下的《颐养保》项目是依托浙江大学的科研团队与其下属各大医院合作打造现代医疗O2O模式；便于企事业单位员工更便捷享受各项医疗服务。颐养科技打造和运营“颐养保健康保险直付理赔体系”依托高效安全的系统平台，建立统一的健康保险理赔标准规范模式，为保险公司、合作卫生医疗机构、药店、投保单位、被保险人等各相关方面提供信息及时交换、数据安全处理、风险管控等健康保险基础服务，推动健康保险产业集中化、规模化、便捷化发展。目前，“颐养保健康保险直付理赔系统”服务网络已覆盖北京、上海、重庆、广东、浙江、江苏、安徽、四川、河北、湖南、陕西等二十三个省市，合作卫生机构网点超过12000家，为国内多家主流保险公司客户提供安全便捷的私医便捷服务。颐养科技将为我国多元化，全方位的医疗保障体系的完善建立添砖加瓦。</p>
			</div>
		</div>
	</ion-content>
</ion-view>