<ion-view view-title="保险产品">
	<ion-content>
		<div class="list card">
			<div class="item item-body">
				<a class="subdued" href="#/user/article/3/123">
					<img class="full-image" src="img/mods/whole-life-participating-2011_thumbn_md_tcm26-9618.jpg">
					<h2>团体境外旅行保险</h2>
				</a>
				<p>满足签证必须条件、给予出境人士在境外发生的意外伤害及突发疾病等不可...</p>
			</div>

			<div class="item item-body">
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/metlife-true-love-protection-plan_thumbnail_md_tcm26-9461.jpg">
				<h2>信心派综合意外保障计划</h2>
				</a>
				<p>可DIY自由组合的综合意外保障方案</p>
			</div>



			<div class="item item-body">				
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/new-carefree-comprehensive-medical-insurance_thumbnail_md_tcm26-10286.jpg">
				<h2>知心派定寿及重疾保障计划</h2>
				</a>
				<p>完整的疾病健康解决方案</p>
			</div>


			<div class="item item-body">				
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/group-pa_thumbnail_md_tcm26-10381.jpg">
				<h2>团体意外伤害保险</h2></a>
				<p>每人每天不到0.3元，即可得到全天候的高额保障。保障涵盖发生意外时的身故、残疾、烧伤责任，确保意外灾难降临后员工可获得必要的补偿，避免家庭陷入生活困境。</p>
			</div>


			<div class="item item-body">
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/transportaytion-group-PA_thumbnail_md_tcm26-10405.jpg">
				<h2>交通团体意外伤害保险</h2></a>
				<p>交通团体意外伤害保险</p>
			</div>

			<div class="item item-body">
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/huacai-life-paln-lifetime-annuity_thumbnail_md_tcm26-9680.jpg">
				<h2>“福来保”意外综合医疗保障计划 （畅行版）</h2></a>
				<p>老年人保险市场的创新</p>
			</div>

			<div class="item item-body">
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/life-enjoyment-protection-plan_thumbnail_md_tcm26-10518.jpg">
				<h2>乐享一生保障计划</h2></a>
				<p>“多重领取+人身保障+保费豁免”，助您乐享一生</p>
			</div>



			<div class="item item-body">
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/xin-du-hui-bao-123-pa_thumbnail_md_tcm26-10313.jpg">
				<h2>新都会保123意外保障计划</h2></a>
				<p>“123” 多倍赔付，让爱加倍</p>
			</div>



			<div class="item item-body">
				<a class="subdued" href="#/user/article/3/123">
				<img class="full-image" src="img/mods/jiji-protection-scheme-will-love-a-major-section_thumbnail_md_tcm26-10437.jpg">
				<h2>都会爱重大疾病保障计划</h2></a>
				<p>健康无可替代，关爱随时在侧</p>
			</div>



		</div>
	</ion-content>
</ion-view>