<ion-view view-title="意见反馈">

  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea name="advice" ng-model="advice" placeholder="请提出您的宝贵意见"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" ng-model="contact" placeholder="您的联系方式">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">
        提交
      </button>
    </div>
  </ion-content>

</ion-view>
