<ion-view view-title="健康管理">
	<ion-content>
		<div class="card">
			<a class="item item-divider" href="#/user/article/0/123">
				遇到突然晕倒的人该怎么做？
			</a>
			<div class="item item-text-wrap">
				
				　　急救知识在平时看起来似乎没多大作用，但是“福祸不由人”，在意外发生时，如果懂得及时救治，就可以帮助亲人或朋友挽救生命或降低伤害程度。在世界急救日到来之际，暨南大学附属第一医院急诊科的副护士长朱丽云教教大家如何应对街头有人晕倒这种状况。
　　街头有人晕倒了？除了碰瓷，也有可能是真的身体不舒服。心肺复苏（CPR）是针对呼吸心跳停止的急症危重病人所采取的抢救关键措施，是一个操作性很强的抢救技能。具体该怎么做呢？
			</div>


			<a class="item item-divider" href="#/user/article/0/123">
				遇到突然晕倒的人该怎么做？
			</a>
			<div class="item item-text-wrap">
				
				　　急救知识在平时看起来似乎没多大作用，但是“福祸不由人”，在意外发生时，如果懂得及时救治，就可以帮助亲人或朋友挽救生命或降低伤害程度。在世界急救日到来之际，暨南大学附属第一医院急诊科的副护士长朱丽云教教大家如何应对街头有人晕倒这种状况。
　　街头有人晕倒了？除了碰瓷，也有可能是真的身体不舒服。心肺复苏（CPR）是针对呼吸心跳停止的急症危重病人所采取的抢救关键措施，是一个操作性很强的抢救技能。具体该怎么做呢？
			</div>



			<a class="item item-divider" href="#/user/article/0/123">
				如何鉴别纯天然植物精油？
			</a>
			<div class="item item-text-wrap">
				核心提示：人类嗅觉可以识别出数千种香味，其精确度比味觉强1万倍。中医指出，经常闻香味对健康有好处，不同香味有不同的保健功效。在西方，芳香疗法是属于医学领域的，也被纳入社会医疗保健范畴。近年来越来越多的人会接触精油，特别是女生。不同的精油有不同的用处。例如玫瑰精油能调整女性内分泌，滋养子宫，缓解痛经，改善性冷淡和更年期不适，尤其是具有很好的美容护肤作用。很多精油专卖店都会标榜着纯天然萃取的旗号来贩卖精油。那么，该如何鉴别纯天然的植物精油呢？国际芳疗师方俊平告诉您。
			</div>


			<a class="item item-divider" href="#/user/article/0/123">
				有病没病“早”现形 晨起症状揭示潜在疾病
			</a>
			<div class="item item-text-wrap">
				　　有些人在四五点的时候会从睡梦中醒来，醒后疲乏无力，但是又难以再入睡，而且醒后的心情也不轻松。这种表现在临床上称为早醒失眠。早醒失眠常见于各类患抑郁症和有精神疾病的病人，尤以抑郁症患者多见。有一些老年人出现心理障碍的最早症状，严重的会导致轻度精神障碍，老年性失智也与其有一定的关联。
青年 女 睡觉 失眠 床 闹钟 赖床_29804665_xxl
　　头晕
　　如果起床后觉得头昏昏沉沉的，有可能是颈椎骨质增生，压迫颈椎动脉，影响大脑血液供给。另外，人在血黏度增高时血流减缓，血氧含量下降，以致于大脑供血供氧不足，而血黏度的高峰值一般在早晨出现。所以早晨头晕、头晕者，有可能患有颈椎病或患有高粘血症。
			</div>


		</div>

	</ion-content>
</ion-view>