<ion-view view-title="健康商城">
	<ion-content>
		<div class="list">
			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/278d5446195877e71d704c80f9042d54_350_350.jpg">
				<h2>睡眠易慢回弹减压舒睡枕</h2>
				<p>睡眠易慢回弹减压舒睡枕</p>
			</a>


			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/d572e8696effbfcd4cc746ea41023401_350_350.jpg">
				<h2>九阳电饭煲JYF-40FS22</h2>
				<p>【Joyoung/九阳】 九阳电饭煲JYF-40FS22</p>
			</a>



			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/21093819608119_160_160.jpg">
				<h2>同仁堂六味地黄丸(水蜜丸)360粒</h2>
				<p>同仁堂六味地黄丸(水蜜丸)360粒</p>
			</a>



			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/20110030713539_160_160.jpg">
				<h2>爱乐维复合维生素片30片</h2>
				<p>爱乐维复合维生素片30片</p>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/62e637a9763e724100caeec99a25cb5f_160_160.jpg">
				<h2>云南白药创可贴(轻巧透气型)100片</h2>
				<p>云南白药创可贴(轻巧透气型)100片</p>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/30142333905632_160_160.jpg">
				<h2>21金维他多维元素片100片</h2>
				<p>21金维他多维元素片100片</p>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/d34f40ea177e428190d9d7e1411dfd54_160_160.jpg">
				<h2>欧姆龙HEM-7051电子血压计</h2>
				<p>欧姆龙HEM-7051电子血压计</p>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/805cbd02804f47148de07e6ac7f1bfe5_160_160.jpg">
				<h2>欧姆龙红外耳式体温计TH839S</h2>
				<p>欧姆龙红外耳式体温计TH839S</p>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/2/123">
				<img src="img/mods/27141752111792_160_160.jpg">
				<h2>九安电子血压计（智能臂式）KD-5910</h2>
				<p>九安电子血压计（智能臂式）KD-5910</p>
			</a>
		</div>
	</ion-content>
</ion-view>