<ion-view view-title="名医馆">
	<ion-content>
		<div class="list">
			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619015025.jpg">
				<h2>蔡秀军</h2>
				<p>肝胆胰外科；微创外科(肝胆胰胃肠)</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619021019.jpg">
				<h2>柴莹</h2>
				<p>普胸外科相关课题</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619020814.jpg">
				<h2>曹利平</h2>
				<p>普外科，肝胆胰、微创外科</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619021128.jpg">
				<h2>陈高</h2>
				<p>擅长脑血管疾病、脑肿瘤、颅脑外伤及外周神经损伤等的诊断与治疗</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619021404.jpg">
				<h2>陈江华</h2>
				<p>提高移植肾长期存活的研究</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619021545.jpg">
				<h2>陈莉丽</h2>
				<p>牙周病的发病机制及综合治疗</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619021605.jpg">
				<h2>陈力</h2>
				<p>普通外科（胃肠外科、微创外科等）</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619021624.jpg">
				<h2>陈其昕</h2>
				<p>脊柱外科基础和临床研究，包括：脊柱畸形研究</p>
			</a>

			<a class="item item-avatar" href="#/user/article/4/1243">
				<img src="http://www.cmm.zju.edu.cn/up_pic/20140619021441.jpg">
				<h2>陈军</h2>
				<p>口腔颌面部肿瘤诊治及整复；口腔颌面创伤诊治</p>
			</a>



		</div>
	</ion-content>
</ion-view>