<ion-view view-title="线上药店">
	<ion-content>
		
		<div class="list">
			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-12.jpg">
				<h2>九洲大药房</h2>
				<p>静怡花苑4幢底商7号</p>
				<h2>电话:0571-85121995</h2>
			</a>


			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-13.jpg">
				<h2>九洲大药房(大关店)</h2>
				<p>下城区香积寺路德苑路8号</p>
				<h2>电话:0571-56360188/88845588</h2>
			</a>



			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-14.jpg">
				<h2>九洲大药房(文一西路店)</h2>
				<p>西湖区文一西路233号</p>
				<h2>电话:0571-88257182</h2>
			</a>



			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-15.jpg">
				<h2>九洲大药房(采荷店)</h2>
				<p>采荷路21号采荷大厦1层</p>
				<h2>电话:0571-86435950</h2>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-16.jpg">
				<h2>九洲大药房(采荷店) -详情</h2>
				<p>云南白药创可贴(轻巧透气型)100片</p>
				<h2>九阳电饭煲JYF</h2>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-17.jpg">
				<h2>九洲大药房(长河店)</h2>
				<p>长江中路23号附近</p>
				<h2>电话:0571-86684134</h2>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-18.jpg">
				<h2>九洲大药房(泰和店)</h2>
				<p>浙江省杭州市上城区解放路121号 </p>
				<h2>电话：(0571)87807301</h2>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-19.jpg">
				<h2>九洲大药房古墩店</h2>
				<p>西湖区古墩路315号(近文三西路)</p>
				<h2>电话:0571-88986706</h2>
			</a>

			<a class="item item-thumbnail-left" href="#/user/article/1/123">
				<img src="img/mods/thumbnails-20.jpg">
				<h2>九洲大药房(庆春店)</h2>
				<p>庆春路66-3号</p>
				<h2>电话:0571-87246851</h2>
			</a>
		</div>

	</ion-content>
</ion-view>