<ion-view view-title="名家养生">
	<ion-content>
		<div class="list card">
			

			<a class="item item-avatar" href="#/user/article/5/12998">
				<img src="img/mods/12-150611143418-50-lp.png">
				<h2>刘嘉玲</h2>
				<p>怎样减肥最快最有效 刘嘉玲吃它狂瘦14公斤</p>
			</a>


			<div class="item item-body">
				<img class="full-image" src="img/mods/12-150611143418-50.png">
				<p>　　刘嘉玲最爱的瘦身餐——两瓜一果
　　1南瓜
　　刘嘉玲选择食用南瓜来帮助排毒与瘦身。
　　南瓜内含多种维生素、β-胡萝卜素、膳食纤维与蛋白质，吃下肚后容易产生饱足感，对于减肥者有很好的帮助，且能够促进肠胃蠕动，也能够达到排毒的食疗效果。
　　2地瓜
　　刘嘉玲说，平时会使用地瓜排毒法，只要在每天早餐时吃两条地瓜，就能补充一天所需的淀粉。地瓜内含丰富的膳食纤维，能够加强肠胃蠕动，就能促进排便，将体内的毒素排出。
　　刘嘉玲使用地瓜瘦身排毒法半年后，从59公斤瘦14公斤后，变成45公斤!
　　3苹果
　　刘嘉玲平时喜欢吃水果，其中又最喜爱苹果，苹果内含丰富的果胶，能够帮助消化与排便。
　　平时在食用苹果时，建议将果皮洗干净后，连皮整颗吃，才能够吃到苹果中全部的养分。若在餐前食用苹果，还能够避免正餐摄取过多导致发胖的情形。
　　无毒一身轻!明星亲测排毒绝招大放送一年过完，人体内存了不少毒素，便秘、面色枯黄等小病不断，都是体内垃圾惹的祸!如果不想百病缠身，学会清理身体毒素很重要。粗粮、素食……明星的排毒秘笈看似平淡无奇?但其实，排毒原本就是我们的身体每日必做的功课，太多花哨的做法反而有悖初衷，来看看明星有什么排毒妙招适合你!</p>
			</div>


			<a class="item item-avatar" href="#/user/article/5/12998">
				<img src="img/mods/12-15042z05238-50_shuxingpic.png">
				<h2>陈水鸥</h2>
				<p>擅长:中医科综合诊治</p>
			</a>

			<div class="item item-body">
				<img class="full-image" src="img/mods/1439962420.jpg">
				<p>　湿邪分为外湿和内湿两种，外湿多因环境潮湿、涉水淋雨所致，内湿多由过食生冷而致脾阳受损。外湿可内传脏腑，内湿也可外达肌肤，且湿邪又易与风、寒、暑、热、温、毒等邪气相互纠结，进而化热、化寒或化燥，其表现形式错综复杂。最典型的病症有三大类，一是湿邪侵犯脾胃，导致食欲不振、腹胀、腹泻等症状，还常伴有精神萎靡、嗜睡、身体发困、舌苔白腻等;其次，湿性重浊，“水往低处流”，故易侵犯人体下部，表现为水肿、身体沉重或四肢酸痛;三是由于湿性黏滞，还可出现腹泻、小便浑浊、妇女白带异常等，而且病程长，缠绵难愈。</p><p>
　　中医祛湿的方法包括化湿、燥湿、利湿、渗湿等，不同的方法针对不同类型的湿和不同类型的病症。</p><p>
　　脾胃病症多用燥湿法。燥湿药多具苦味，药性有寒温之别，分别针对寒湿和湿热所致的中焦脾胃病症。</p><p>
　　湿热内蕴多表现为口干口苦、腹胀、大便稀烂热臭、舌苔黄腻，可选用黄连、黄芩、黄柏、苦参、龙胆草等苦寒性质的药来清热燥湿。寒湿中阻可表现为畏寒肢冷、恶心呕吐、腹胀泄泻、舌苔白腻，可选用橘皮、苍术、厚朴等，燥湿与散寒同施。</p><p>
　　清热解表多用化湿法。化湿药多为辛温芳香之品。湿邪在上焦或在表者，表现为怕寒、低烧、头重而胀、肢体酸软沉重、胸脘胀满等。用香薷、扁豆花、厚朴花、藿香等芳香类的药可以解表化湿，代表方剂香薷饮、藿朴夏苓汤。
　　当湿与热相结合，会导致发热、口渴、咽肿、尿赤等，这时需芳香化湿药与清热解毒药并用，代表方剂甘露消毒丹。热重于湿者，病变中心偏重于胃，常选用芳香之品，如藿香、佩兰、荷叶梗、白扁豆、砂仁等。湿重于热者，病变中心偏于脾，常选用扁豆花、茵陈蒿、厚朴花等。</p>
			</div>


			<a class="item item-avatar" href="#/user/article/5/12998">
				<img src="img/mods/12-15061g61039-50_shuxingpic.png">
				<h2>赵雅芝</h2>
				<p>56岁赵雅芝 容颜不老秘密</p>
			</a>


			<div class="item item-body">
				<img class="full-image" src="img/mods/tOSTsv.jpg">
				<p>　　56岁赵雅芝不显老全靠忘龄美容法
　　保养是赵雅芝必被问到的问题。对于如何“保鲜”，赵雅芝笑道，“我已经老了，早已配不起‘美人’这样的称呼了。我不知道为什么还会有那么多人觉得我依然美丽，我已经过50岁了，早过了属于‘美丽’的年代了，如果说我现在还不丑，那也只是化妆品的魔力吧。
　　起居有规律，保养很重要
　　不过，赵雅芝表示，作为女人，保养还是很重要的，就算不喜欢化妆，至少应该学会保养，生活规律尤其重要，“我不爱夜生活，很少应酬，生活起居有规律，保持了充足的睡眠，吃得健康，不偏食，不会想吃什么就吃什么。肉我照吃，不是素食主义者，也喜欢吃辣，但我会注意营养均衡。”其次，还要选择适合自己使用的护肤品，“不是名牌就好，每天要保持皮肤清洁，试试用过后吸收好不好，有没有不良反应。在家有时间就 DIY一点面膜，没时间就买面膜使用，总之好好爱惜自己。
　　控制情绪让女人不变丑
　　好好爱惜自己的另一个方法就是控制住自己的情绪。不过赵雅芝也会发脾气，但她比较会控制情绪：“都说生气的女人不美丽，但我也是人，也有生气的时候。但是我觉得我发脾气的时候不多，因为我觉得发脾气要是没有用的话，伤了自己，也伤了别人的感情，我觉得那划不来。我一生起气来的时时候，嗓音会提高八度，但我绝不打骂人。”</p>
			</div>


			<a class="item item-avatar" href="#/user/article/5/12998">
				<img src="img/mods/12-150p4155j8-lp.png">
				<h2>钟汉良</h2>
				<p>揭秘钟汉良的不老护肤秘诀 让你实现逆生长</p>
			</a>


			<div class="item item-body">
				<img class="full-image" src="img/mods/12-150P4155J8.png">
				<p>　　钟汉良的护肤秘诀
　　钟汉良护肤秘诀一：注重清洁和保湿工作
　　不要以为男生就不需要护肤，想要拥有好的肌肤一步都不能少，冻龄男神钟汉良就是如此，在护肤中，他会将肌肤的清洁和保湿作为重点来做，由于每天拍戏难免会化一点妆，但是在拍摄结束后，他都会第一时间洗去一天的疲惫和附在皮肤表层的灰尘等杂质。
　　钟汉良护肤秘诀二：注意饮食调理
　　在饮食方面钟汉良也是很注意的，他说只有内调和外养一起相结合，肌肤才会更完美，所以饮食方面他会吃的比较清淡，从来不吃煎炸食物，以免上火对肌肤造成伤害，另外就是他现在已经爱上了吃素，这样不仅对身体有好处，对肌肤而言更是很好。
　　钟汉良护肤秘诀三：保持愉悦的心情
　　其实心情的好坏和肌肤的好坏是息息相关的，暴躁的心情会影响人的睡眠质量，而喜怒无常的人容易长痘痘，心情不好会为身体的肌肤带来很多的负面影响，所以在遇到不如意的事情，钟汉良会用各种方法去调理自己的心情，让自己每一天都处在轻松愉快的心情下，这样的肌肤想要不好都难啊!</p>
			</div>



			

		</div>

		

	</ion-content>
</ion-view>