<ion-view view-title="补充医疗余额查询">
    <ion-content>

        <ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="actions.doRefresh()"></ion-refresher>
        <ion-list>
        	<div class="item item-icon-left">
        		<i class="icon ion-person-stalker"></i>
        		总余额: 
        		<span class="badge badge-assertive">{{(ince.total.sumInterest + ince.total.sumProfileAmount) | number:2}}</span>
        	</div>

            <div ng-repeat="inceItem in inceItems">
                <div class="item item-divider">{{inceItem.title}}</div>
                <a ng-if="inceItem.key.substring(inceItem.key.length - 1) != '2'" class="item item-icon-right" ng-repeat="item in inceItem.list">
                    {{item.startTime | date: 'yyyy年MM月dd日'}}缴费金额
                    <span class="badge badge-assertive">{{item.price | number:2}}</span>
                </a>
                
                <a ng-if="inceItem.key.substring(inceItem.key.length - 1) == '2'" class="item item-icon-right" ng-repeat="item in inceItem.list">
                    本金{{item.price | number:2}}
                    <span class="badge badge-assertive">{{item.cycleInterest | number:2}}</span>
                </a>
                
            </div>


        </ion-list>
    </ion-content>
</ion-view>