<ion-modal-view>

    <ion-header-bar>
        <!-- <div class="buttons">
            <button class="button button-clear" ng-click="actions.closeDealPassword()">取消</button>
        </div> -->
        <h1 class="title">请修改支付密码</h1>
        <div class="buttons">
            <button class="button button-clear calm" ng-click="actions.prePwdReset()" ng-if="oldDealPwd">忘记密码</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <!-- <form class="form-horizontal w5c-form" w5c-form-validate="" w5c-submit="actions.dealPassword()" role="form" novalidate name="form_user_dealPassword"> --><!-- 使用w5c-submit会导致移动设备虚拟键盘的go按钮失效, 需要使用ng-submit -->
        <form class="form-horizontal w5c-form" w5c-form-validate="" ng-submit="actions.dealPassword()" role="form" novalidate name="form_user_dealPassword">
            <ion-list>
                <ion-item class="no-padding-tb" ng-if="!oldDealPwd">
                    <label class="h3 assertive">必须设置支付密码才能消费!</label>
                </ion-item>
                <ion-item class="item-input no-padding-tb" ng-if="oldDealPwd">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">旧支付密码:</span>
                        <input type="password" placeholder="必须输入支付密码" ng-model="dealPassword.oldPassword" required="" name="oldDealPassword" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="dealPassword.oldPassword"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="item-input no-padding-tb" ng-if="closeAble && !oldDealPwd">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">登录密码:</span>
                        <input type="password" placeholder="必须输入登录密码" ng-model="dealPassword.loginPwd" required="" name="loginPwd" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="dealPassword.loginPwd"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="item-input no-padding-tb">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">新支付密码:</span>
                        <input type="password" placeholder="1-16位" ng-model="dealPassword.newPassword" required="" name="newDealPassword" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="dealPassword.newPassword"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="item-input no-padding-tb">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">再输入一次:</span>
                        <input type="password" placeholder="1-16位" ng-model="dealPassword.repeatPwd" required="" name="repeatDealPwd" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="dealPassword.repeatPwd"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="no-padding-tb" ng-if="!oldDealPwd">
                    <label class="h3 assertive">为了您的账户安全, 请同时修改登录密码!</label>
                </ion-item>
                <ion-item class="item-input no-padding-tb" ng-if="!oldDealPwd && !closeAble">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">旧登录密码:</span>
                        <input type="password" placeholder="输入登录密码" ng-model="password.oldPassword" name="oldPwd" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="password.oldPassword"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="item-input no-padding-tb" ng-if="!oldDealPwd">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">新登录密码:</span>
                        <input type="password" placeholder="1-16位" ng-model="password.newPassword" name="newPwd" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="password.newPassword"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="item-input no-padding-tb" ng-if="!oldDealPwd">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">再输入一次:</span>
                        <input type="password" placeholder="1-16位" ng-model="password.repeatPwd" name="repeatPwd" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="password.repeatPwd"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="row no-padding-tb">
                    <div class="col"><button class="button button-block button-positive" type="submit">确认</button></div>
                    <div class="col"><button class="button button-block button-stable" type="reset">重置</button></div>
                    <div class="col" ng-if="closeAble"><button class="button button-block button-energized" ng-click="actions.closeDealPassword()" type="button">取消</button></div>
                </ion-item>
                <ion-item ng-if="error.dealPasswordError" class="no-padding-tb"><!-- ng-if会创建子$scope, 因此需要采用数组方式传递变量(内存地址引用), 否则子$scope中对dealPasswordError的改变不会影响父$scope的dealPasswordError, 元素不会消失 -->
                    {{error.dealPasswordError}} <i class="icon ion-ios-close" ng-click="error.dealPasswordError = ''"></i>
                </ion-item>
                <ion-item ng-if="dealPassword.repeatPwd !== dealPassword.newPassword" class="no-padding-tb">
                    {{dealPassword.repeatPwd !== dealPassword.newPassword && '两次输入的新密码不同' || ''}}
                </ion-item>
                <ion-item ng-if="error.passwordError" class="no-padding-tb">
                    {{error.passwordError}} <i class="icon ion-ios-close" ng-click="error.passwordError = ''"></i>
                </ion-item>
                <ion-item ng-if="password.repeatPwd !== password.newPassword" class="no-padding-tb">
                    {{password.repeatPwd !== password.newPassword && '两次输入的新密码不同' || ''}}
                </ion-item>
            </ion-list>
        </form>
    </ion-content>

</ion-modal-view>