<ion-modal-view>

    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="actions.closePassword()">取消</button>
        </div>
        <h1 class="title">请修改密码</h1>
    </ion-header-bar>

    <ion-content>
        <!-- <form class="form-horizontal w5c-form" w5c-form-validate="" w5c-submit="actions.password()" role="form" novalidate name="form_user_password"> --><!-- 使用w5c-submit会导致移动设备虚拟键盘的go按钮失效, 需要使用ng-submit -->
        <form class="form-horizontal w5c-form" w5c-form-validate="" ng-submit="actions.password()" role="form" novalidate name="form_user_password">
            <ion-list>
                <ion-item class="item-input no-padding-tb">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">旧密码:</span>
                        <input type="password" placeholder="1-16位" ng-model="password.oldPassword" required="" name="oldPassword" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="password.oldPassword"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="item-input no-padding-tb">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">新密码:</span>
                        <input type="password" placeholder="1-16位" ng-model="password.newPassword" required="" name="newPassword" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="password.newPassword"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="item-input no-padding-tb">
                    <!-- <div class="item-input"> -->
                        <span class="input-label">重<span class="take-position">占</span>复:</span>
                        <input type="password" placeholder="1-16位" ng-model="password.repeatPwd" required="" name="repeatPwd" ng-minlength="1" ng-maxlength="16" class="min-height">
                        <button-clear-input input="password.repeatPwd"></button-clear-input>
                    <!-- </div> -->
                </ion-item>
                <ion-item class="row no-padding-tb">
                    <div class="col"><button class="button button-block button-positive" type="submit">确认</button></div>
                    <div class="col"><button class="button button-block button-stable" type="reset">重置</button></div>
                    <div class="col"><button class="button button-block button-energized" ng-click="actions.closePassword()" type="button">取消</button></div>
                </ion-item>
                <ion-item ng-if="error.passwordError" class="no-padding-tb"><!-- ng-if会创建子$scope, 因此需要采用数组方式传递变量(内存地址引用), 否则子$scope中对passwordError的改变不会影响父$scope的passwordError, 元素不会消失 -->
                    {{error.passwordError}} <i class="icon ion-ios-close" ng-click="error.passwordError = ''"></i>
                </ion-item>
                <ion-item ng-if="password.repeatPwd !== password.newPassword" class="no-padding-tb">
                    {{password.repeatPwd !== password.newPassword && '两次输入的新密码不同' || ''}}
                </ion-item>
            </ion-list>
        </form>
    </ion-content>

</ion-modal-view>