<ion-view>

  <!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button button-clear">
      <i class="icon ion-ios-arrow-back"></i>
    </ion-nav-back-button>
    <ion-nav-title>
      关于我们
    </ion-nav-title>
  </ion-nav-bar> -->

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
      关于我们
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div class="row"><!-- text-center是ionic自带css属性 -->
      <div class="col-25 text-center padding-left">
        <img src="img/logo-1.png" class="logo padding-top">
        <p>浙保通</p>
      </div>
      <div class="col-75 col-center text-center">
        <!-- <p>健康人生, 幸福一生!</p> -->
        <h4>中国人民人寿保险股份有限公司浙江分公司</h4>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-text-wrap text-indent">

        <p><strong>中国人民人寿保险股份有限公司</strong>（以下简称“中国人保寿险”），是经国务院同意，中国保险监督管理委员会批准，于2005年11月成立的全国性寿险公司，注册资本金257.61亿元，总部设在北京。</p>
        <p>
中国人保寿险是中国人民保险集团旗下的重要成员，主要经营人寿保险、健康保险、意外伤害保险等保险业务及上述业务的再保险业务。2014年实现规模保费813亿元，位居国内寿险公司前5名,亚洲保险竞争力排名前8名。</p>
        <p>
中国人保寿险在国内各省、自治区、直辖市及计划单列市设有分公司36家，在291个地市、1816个县（市、区）设有销售机构和服务网点，与银行建立合作网点超过11万家，拥有14万余名寿险销售人员，为客户提供包括柜面、电话、互联网、移动互联网等多种保险服务体验。</p>
        <p>
中国人保寿险肩负“人民保险，服务人民”的光荣使命，服务经济社会发展，保障人民品质生活。积极参与国家的健康养老产业、基础建设以及各类民生工程，为客户提供美好生活、无忧一生、百万身价、鑫利年金（B款）等近二百个保险产品服务。</p>
        <p>
中国人保寿险拥有完善的法人治理结构和专业的管理团队，实行差异化管理，多元化发展，注重价值创造，注重售后服务，在营销、精算、产品、后援、IT等多方面保持了优势和领先。公司以客户为中心，合规经营，防范风险，成立十年，业务快速发展，成本有效管控，资产迅速积累，利润提前实现，已连续四年保费总收入居市场第五。2014年总资产3540亿元，成为寿险行业发展的一支生力军。</p>
        <p>
中国人保寿险积极参与公益事业，承担社会责任，积极回馈社会，努力奉献大众。设立“医学助学金”，帮助家庭困难的学子完成学业；启动“抗震救灾武警官兵专项计划”，向抗震救灾的武警官兵提供保险保障。面对各种灾害，积极开展抗灾救灾、保险理赔和爱心捐助，至2014年，各项赔款、给付及捐款达1015亿元。</p>
        <p>
近年来，中国人保寿险以良好的信誉赢得了客户信赖，受到了社会各界的广泛赞誉，先后获得CCTV“新中国60周年60个杰出品牌”、CCTV“中国信用典范企业领军品牌”、“金牌竞争力寿险公司”、“文化管理创新奖”、“保险营销创新奖”、“最佳社会责任奖”、“最值得信赖保险公司”、“最佳风险控制团队”、“最佳中资保险公司”、“最具竞争力品牌奖”、“金牌综合实力寿险公司”等多个荣誉称号。2013年，被中国保监会分类监管评定为A类公司。</p>
        

        
      </ion-item>
      <a class="item">
        网站：
        <span class="item-note">
          http://app.xiaoyangbao.net/
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a>
    </ion-list>
  </ion-content>
  
</ion-view>
