<ion-view view-title="系统设置">

  <ion-content>

    <ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="actions.doRefresh()"></ion-refresher>
    
    <ion-list>
      <a class="item item-avatar item-icon-right" href="#/medi/mine">
        <img ng-src="{{info.head.Url || 'img/defaultAvatar.png'}}" class="round-avatar">
        <h2>{{info.personalInfo.name}},</h2>
        <p>您好, 欢迎回来!</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <!-- <a class="item" href="#/medi/feedback">
        意见反馈
        <span class="item-note">
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a> -->
      <!-- <a class="item" href="#/medi/helper">
        使用帮助
        <span class="item-note">
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </a> -->
      <div class="item" ng-click="actions.clearCache()">
        清理缓存
        <span class="item-note">
          <i class="icon ion-ios-arrow-right"></i>
        </span>
      </div>
    </ion-list>
    <div class="padding">
      <button class="button button-block button-assertive" ng-click='actions.logout()'>
        退出登录
      </button>
    </div>
  </ion-content>

</ion-view>
