<!-- <ion-view> -->
  <ion-footer-bar class="bar-stable no-padding" style="z-index:999">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/simple/homepage">
        <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#/main/test">
        <i class="icon ion-ios7-pricetag"></i>
        最新
      </a>
      <a class="tab-item" href="#/main/mine">
        <i class="icon ion-star"></i>
        收藏
      </a>
      <!-- <a class="tab-item" href="#/main/mine">
        <i class="icon ion-person"></i>
        我的
      </a> -->
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a> 
    </div>
  </ion-footer-bar>
<!-- </ion-view> -->